.container{
    width: 100%;
    background-color:cadetblue;
    padding: 5px;
}

.item{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.anchor{
    text-decoration: none;
    font-size: large;
    color: white;
}

.anchor:hover{
    color:greenyellow;
}

.button {
    display: block;
    width: 115px;
    height: 40px;
    background: #4e9caf;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}